{% extends 'base' %}

{% block body %}

    <h1>Mon profil</h1>

    <div class="infos">
        {%  if app.user.id == participant.id %}
            <b>Salut {{ app.user.userIdentifier }} </b>
        {%  endif %}
    </div>
    <div class="formulaire">
        <h2>Mes informations personnelles :</h2>
        <p>email : {{ participant.mail }}</p>
        <p>nom : {{ participant.nom }}</p>
        <p>prénom : {{ participant.prenom }}</p>
        <p>téléphone : {{ participant.telephone }}</p>
        <p>campus : {{ participant.nom }}</p>
        <img src="{{ asset('photo/profil/' ~ participant.photo) }}" alt="photo de profil">

{%  if app.user.id == participant.id %}
        <button><a href="{{ path('profilUpdate') }}">Mettre à jour</a></button>
{% endif %}

    </div>

{% endblock %}