{% extends 'base' %}

{% block body %}

    {% if app.user == participant %}
        <h1>Mon profil</h1>
    {% else %}
        <h1>Profil de {{ participant.prenom }} {{ participant.nom | upper }}</h1>
    {% endif %}

    <div class="infos">
        {%  if app.user.id == participant.id %}
            <b>Salut {{ app.user.userIdentifier }} </b>
        {%  endif %}
    </div>
    <div class="formulaire">
        <h2>Mes informations personnelles :</h2>
        <p>email : {{ participant.mail }}</p>
        {% if participant.pseudo %}
        <p>pseudo : {{ participant.pseudo }}</p>
        {%  endif %}
        <p>nom : {{ participant.nom }}</p>
        <p>prénom : {{ participant.prenom }}</p>
        <p>téléphone : {{ participant.telephone }}</p>
        <p>campus : {{ participant.campus.nom }}</p>
        {% if participant.photo %}
        <img src="{{ asset('photo/profil/' ~ participant.photo) }}" width="100px" alt="photo de profil">
        {% endif %}

{%  if app.user == participant %}
        <button><a href="{{ path('profilUpdate') }}">Mettre à jour</a></button>
{% endif %}
        <button><a href="{{ path('accueil') }}">Retour à l'accueil</a></button>

    </div>

{% endblock %}