{% extends 'base' %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
    <table>
        <tr>
            <th>Campus</th>
        </tr>
        {% for campus in campusListe %}
            <tr>
                <td>{{ campus.nom }}</td>
            </tr>
        {% else %}
            <td scope="row" colspan="2">L'école n'est raccordée à aucun campus</td>
        {% endfor %}

    </table>
    <h2>Créer Campus</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button>Créer</button>
    {{ form_end(form) }}
    {% else %}
        <h1>Accès refusé</h1>
        <p>Vous n'avez pas les droits nécessaires pour accéder à cette page.</p>
        <a class="bouton" href="{{ path('accueil') }}">Revenir à l'accueil</a>

{% endif %}
{% endblock %}

