{% extends 'base' %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
    <button><a href="{{ path('utilisateur_creer') }}">Ajouter un participant</a></button>
<table>
    <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Profil</th>
        <th>Action</th>
        <th>Etat</th>
    </tr>
    {% for participant in participants %}
        <tr>
            <td>{{ participant.prenom }}</td>
            <td>{{ participant.nom |upper  }}</td>
            <td><a href="{{ path('profil', {'id' : participant.id}) }}">Profil</a></td>
            <td><a href="{{ path('supprimer',{'id' : participant.id}) }}">Supprimer</a></td>
            {% if participant.actif %}
            <td><a href="{{ path('desactiver', {'id' :participant.id}) }}">Desactiver</a></td>
            {% else %}
            <td><a href="{{ path('activer', {'id' :participant.id}) }}">Activer</a></td>
            {% endif %}
        </tr>
    {% else %}
        <td scope="row" colspan="2">Aucun participant inscrit.</td>
    {% endfor %}

</table>
    <button><a href="{{ path('utilisateur_creer') }}">Ajouter un participant</a></button>
{% else %}
    <h1>Accès refusé</h1>
    <p>Vous n'avez pas les droits nécessaires pour accéder à cette page.</p>
    <a class="bouton" href="{{ path('accueil') }}">Revenir à l'accueil</a>

{% endif %}
{% endblock %}