{%  extends 'base.html.twig' %}

{%  block body %}
    <div class="infos">
        {%  if app.user %}
            <p>Salut {{ app.user.prenom}}   {{  app.user.nom  }} </p>
        {%  endif %}
        <p> Date du jour : {{ maintenant | date("d/m/Y") }}</p>
    </div>

    <h1>RECHERCHER UNE SORTIE </h1>

    <div class="formulaire">

        <h2>Filtrer les sorties :</h2>

            {{ form_start(sortieForm) }}
            {{ form_row(sortieForm.campus) }}
            {{ form_widget(sortieForm) }}
            <button>Rechercher !</button>
            {{ form_end(sortieForm) }}
    </div>

    <h2>{{ sorties | length }} sorties trouvées :</h2>

    <button class="afficheOrdi">
        <a href="{{ path('sortie_creer') }}">Creer une sortie </a>
    </button>

    <table id="tableaudesorties">
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrits</th>
            <th class="campus">Campus</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>

        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut | date("d/m/Y H:i") }}</td>
                <td>{{ sortie.dateLimiteInscription | date("d/m/Y") }}</td>
                <td>{{ sortie.participants | length }}/{{ sortie.nbInscriptionsMax }}</td>
                <td class="campus">{{ sortie.campus.nom }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>
                    {%  if app.user in sortie.participants %}
                        X
                    {%  endif %}
                <td>
                    <a href="{{ path('profil', {'id': sortie.organisateur.id}) }}">
                    {{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom |slice(0, 1) }}.
                    </a>
                </td>
                <td>
                    {%  if app.user and app.user != sortie.organisateur or sortie.etat.libelle != 'Créée' %}
                    <a href="{{ path('sortie_detail', {'id': sortie.id}) }}">Afficher</a>
                        {% elseif sortie.etat.libelle == 'Annulée' or sortie.etat.libelle == 'Activité en cours' %}
                            <a href="{{ path('sortie_detail', {'id': sortie.id}) }}">Afficher</a>
                    {%  endif %}

                    {%  if app.user and app.user == sortie.organisateur and sortie.etat.libelle == 'Créée' %}
                    <a href="{{ path('sortie_modifier', {'id': sortie.id}) }}">Modifier</a>
                    {%  endif %}

                    {%  if app.user and app.user == sortie.organisateur and sortie.etat.libelle == 'Ouverte' and sortie.dateHeureDebut > maintenant %}
                        <a href="{{ path('sortie_modifier', {'id': sortie.id}) }}">Modifier</a>
                    {%  endif %}

                    {%  if app.user not in sortie.participants and sortie.etat.libelle == 'Ouverte' and (sortie.participants | length) < sortie.nbInscriptionsMax and sortie.dateLimiteInscription > maintenant %}
                        <a href="{{ path('sortie_inscription', {'id': sortie.id}) }}">S'inscrire</a>
                    {%  endif %}

                    {%  if app.user in sortie.participants and (sortie.etat.libelle == 'Ouverte') and sortie.dateHeureDebut > maintenant %}
                        <a href="{{ path('sortie_desinscription', {'id': sortie.id}) }}"
                           onclick="return confirm('Voulez-vous vraiment vous désinscrire de la sortie {{ sortie.nom }} ?')">Se désister</a>
                    {%  endif %}
                    {% if app.user == sortie.organisateur and (sortie.etat.libelle != 'Annulée') and (sortie.etat.libelle != 'Historisé') and (sortie.etat.libelle != 'Passée') and sortie.dateHeureDebut > maintenant or app.user.roles == ['ROLE_ADMIN']  and (sortie.etat.libelle != 'Annulée') and (sortie.etat.libelle != 'Historisé') and (sortie.etat.libelle != 'Passée')  and sortie.dateHeureDebut > maintenant %}
                        <a href="{{ path('sortie_annuler', {'id': sortie.id}) }}">Annuler</a>
                    {% endif %}
                </td>
        </tr>

        {%  else %}
            <p>Aucune sortie ne correspond à vos critères</p>
        {%  endfor %}
    </table>

    <button class="afficheOrdi">
        <a href="{{ path('sortie_creer') }}">Creer une sortie </a>
    </button>
{%  endblock %}
{% block title %}

{% endblock %}

