{%  extends 'base.html.twig' %}

{%  block body %}

    <h1>RECHERCHER UNE SORTIE </h1>
    <div class="infos">
        Date du jour : {{ "now" | date("d/m/Y") }}
        {%  if app.user %}
            <b>Salut {{ app.user.userIdentifier }} </b>
        {%  endif %}
    </div>

    <div class="formulaire">

        <h2>Filtrer les sorties :</h2>

            {{ form_start(sortieForm) }}
            {{ form_widget(sortieForm) }}
            <button>Rechercher !</button>
            {{ form_end(sortieForm) }}

    </div>

{%  endblock %}
{% block title %}

{% endblock %}

