{% extends 'base' %}


{% block body %}
    <h1>Annulation de "{{ sortie.nom}}"</h1>

    {{ form_start (sortieAnnulationForm) }}
    {{ form_widget (sortieAnnulationForm) }}

        <button>{% block button %}Annuler la sortie{% endblock %}</button>
        <a class="bouton" href="{{ path('accueil') }}">Retour</a>

    {{ form_end (sortieAnnulationForm) }}

{% endblock %}

{% block title %}

    Annuler {{ sortie.nom }}

{% endblock %}