{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ sortie.nom }}</h1>
    <h3>Description :</h3>
    <div class="sortie"><p>{{ sortie.infosSortie }}</p></div>

    <h3>Détails :</h3>
    <div class="details">
        <div class="organisation">
            <p><label>Organisé par :</label> {{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }}
                ({{ sortie.campus.nom }})</p>
            <p><label>Participants inscrits : </label> {{ sortie.participants | length }}
                / {{ sortie.nbInscriptionsMax }}</p>
            <p><label>Date de la sortie :</label> {{ sortie.dateHeureDebut | date("d/m/Y ") }} à {{ sortie.dateHeureDebut | date("H:i") }}</p>
            <p><label>Date limite d'inscription :</label> {{ sortie.dateLimiteInscription | date("d/m/Y") }}</p>
            <p><label>Durée :</label> {{ sortie.durée }} minutes</p>
        </div>

        <div class="lieu">
            <p><label>Lieu :</label> {{ sortie.lieu.nom }}</p>
            <p><label>Rue :</label> {{ sortie.lieu.rue }}</p>
            <p><label>Ville :</label> {{ sortie.lieu.ville.nom }}</p>
            <p><label>Code :</label> ({{ sortie.lieu.ville.codePostal }})</p>
            <p><label>Latitude :</label> {{ sortie.lieu.latitude }}</p>
            <p><label>Longitude :</label> {{ sortie.lieu.longitude }}</p>
        </div>
    </div>
    <h3>Participants inscrits</h3>
<table>
    <tr>
        <th>Prénom</th>
        <th>Nom</th>
        {% if sortie.participants.contains(app.user) %}
        <th>Profil</th>
        {% endif %}
    </tr>
        {% for participant in sortie.participants %}
            <tr>
            <td>{{ participant.prenom }}</td>
            <td>{{ participant.nom |upper  }}</td>
                {% if sortie.participants.contains(app.user) %}
                <td><a href="{{ path('profil', {'id' : participant.id}) }}">Profil</a></td>
                {% endif %}
            </tr>
        {% else %}
            <td scope="row" colspan="2">Aucun participant inscrit.</td>
        {% endfor %}
</table>

    {%  if app.user not in sortie.participants and sortie.etat.libelle == 'Ouverte' and (sortie.participants | length) < sortie.nbInscriptionsMax and sortie.dateLimiteInscription > "now" %}
        <button><a href="{{ path('sortie_inscription', {'id': sortie.id}) }}">S'inscrire</a></button>
    {%  endif %}

    {%  if app.user in sortie.participants and (sortie.etat.libelle == 'Ouverte') and sortie.dateLimiteInscription > "now" %}
        <button><a href="{{ path('sortie_desinscription', {'id': sortie.id}) }}"
           onclick="return confirm('Voulez-vous vraiment vous désinscrire de la sortie {{ sortie.nom }} ?')">Se désister</a></button>
    {%  endif %}

    <button><a href="{{ path('accueil') }}">Retour à la liste des sorties</a></button>

{% endblock %}

{% block title %}

    Détail de {{ sortie.nom }}

{% endblock %}

