{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ sortie.nom }}</h1>
    <h2 style="color:red"> ÉVÉNEMENT ANNULÉ !!!</h2>
    <div class="annulation">
    <h3>Description :</h3>
    <div class="sortie"><p>{{ sortie.infosSortie }}</p></div>

    <h3>Détails :</h3>
    <div class="details">
        <div class="organisation">
            <p><label>Organisé par :</label> {{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }}
                ({{ sortie.campus.nom }})</p>
            <p><label>Participants inscrits : </label> {{ sortie.participants | length }}
                / {{ sortie.nbInscriptionsMax }}</p>
            <p><label>Date de la sortie :</label> {{ sortie.dateHeureDebut | date("d/m/Y ") }} à {{ sortie.dateHeureDebut | date("H:i") }}</p>
            <p><label>Date limite d'inscription :</label> {{ sortie.dateLimiteInscription | date("d/m/Y") }}</p>
            <p><label>Durée :</label> {{ sortie.duree }} minutes</p>
        </div>

        {% if sortie.lieu %}
            <div class="lieu">
                <p><label>Lieu :</label> {{ sortie.lieu.nom }}</p>
                <p><label>Rue :</label> {{ sortie.lieu.rue }}</p>
                <p><label>Ville :</label> {{ sortie.lieu.ville.nom }}</p>
                <p><label>Code :</label> ({{ sortie.lieu.ville.codePostal }})</p>
                <p><label>Latitude :</label> {{ sortie.lieu.latitude }}</p>
                <p><label>Longitude :</label> {{ sortie.lieu.longitude }}</p>
            </div>
        {% endif %}
    </div>
    </div>

    <button><a href="{{ path('accueil') }}">Retour à la liste des sorties</a></button>

{% endblock %}

{% block title %}

    Détail de {{ sortie.nom }}

{% endblock %}



