    {% extends 'base.html.twig' %}

{% form_theme sortieDetailsForm 'views/forms/sortie-form.html.twig' %}

{% block body %}
    <h2>Modifier {{ sortie.nom }}</h2>
    {% embed 'views/forms/sortie-form.html.twig' %}

    {% block sortieTitle %} Modifier la sortie {% endblock %}
    {% block button%} Mettre à jour la sortie {% endblock %}
        {% block buttonRetour%}  Retour à la liste {% endblock %}
    {% endembed %}
    {% if sortie.etat.libelle == 'Créée' %}
        <button><a href="{{ path('sortie_supprimer', {'id': sortie.id}) }}"
                   onclick="return confirm('Voulez-vous vraiment vous supprimer la sortie {{ sortie.nom }} ?')">Supprimer la sortie</a> </button>
    {% endif %}
    {% if sortie.etat.libelle == 'Ouverte' %}
        <button><a href="{{ path('sortie_annuler',  {'id': sortie.id}) }}">Annuler la sortie</a> </button>
    {% endif %}

{% endblock %}

{% block title %}

    Modifier {{ sortie.nom }}

{% endblock %}

