<header>
    <div class="logoslogan">
        <h1><img src="{{ asset('img/logo.jpg') }}" alt="Logo de l'ENI">
        BDE de l'ENI</h1>
        <p>{{ random(['si, si... on existe',
                'Si vous croyez en nous, on apparaîtra',
                'Encore plus opaque que la fondation SCP',
                'Uniquement disponible sur le campus de Morlaix',
                '4eme étage, Campus de Rennes',
                'Dernière activité : juin 2008',
                'Notre président est mort de vieillesse',
                'Il reste des handspinners avec notre logo ! '
            ]) }}</p>

    </div>

    {% for label, messages in app.flashes %}
        {% for message in messages %}

            <div id="appel" class="flash flash-{{ label }}">
                {{ message }}
            </div>

        {% endfor %}
    {% endfor %}

<nav>
    <ul>
            {% if app.user %}
            {% if app.user.role == 'ROLE_USER' %}
            {% elseif app.user.role == 'ROLE_ADMIN' %}
                <li><a href="{{ path('listeVilles') }}">Ville</a></li>
                <li><a href="{{ path('listeCampus') }}">Campus</a></li>
                <li><a href="{{ path('utilisateurs') }}">Utilisateurs</a></li>
            {% endif %}
        {% endif %}

        <li><a href="{{ path ('accueil') }}">Accueil</a></li>
        {% if app.user %}

            <li>
                <a href="{{ path('profil', {'id' : app.user.id}) }}">Mon Profil</a>

            </li>
            <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
        {% else %}
            <li><a href="{{ path('connex') }}">Se connecter</a></li>
        {% endif %}
        {% if app.user and app.user.photo %}
        <a href="{{ path('profil', {'id' : app.user.id}) }}"><img class="profil" src="{{ asset('photo/profil/' ~ app.user.photo) }}" alt="photo de profil"></a>
        {% endif %}
    </ul>

</nav>
</header>