<header>
    <div class="logoslogan">
        <img src="{{ asset('img/logo.jpg') }}" alt="Logo de l'ENI">
        <h1>BDE de l'ENI</h1>
        <p>(Si si, on existe...)</p>
    </div>

    {% for label, messages in app.flashes %}
        {% for message in messages %}

            <div id="appel" class="flash flash-{{ label }}">
                {{ message }}
            </div>

        {% endfor %}
    {% endfor %}

<nav>
    <ul>

        {% if app.user %}
            {% if app.user.role('ROLE_ADMIN') %}
                <li><a href="">Ville</a></li>
                <li><a href="">Campus</a></li>
                <li><a href="{{ path('utilisateurs') }}">Utilisateurs</a></li>
            {% endif %}
        {% endif %}
        <li><a href="{{ path ('accueil') }}">Accueil</a></li>
        {% if app.user %}
            <li><a href="{{ path('profil', {'id' : app.user.id}) }}">Mon Profil</a></li>
            <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
        {% else %}
            <li><a href="{{ path('connex') }}">Se connecter</a></li>
            <li><a href="">S'enregistrer</a></li>
        {% endif %}
    </ul>
</nav>
</header>